## Working with grades data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

file_path = 'data/betyg_o_prov_riksnivå.xlsx'
df = pd.read_excel(file_path)

df.head()

,Grundskolan – Betyg och Prov – Riksnivå,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Tabell 1A: Elever som avslutat årskurs 9 läsår...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Läsår\nHuvudman\nBakgrund,Elever som avslutat åk 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 10 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Grundskolan – Betyg och Prov – Riksnivå  35 non-null     object
 1   Unnamed: 1                               27 non-null     object
 2   Unnamed: 2                               26 non-null     object
 3   Unnamed: 3                               26 non-null     object
 4   Unnamed: 4                               28 non-null     object
 5   Unnamed: 5                               26 non-null     object
 6   Unnamed: 6                               26 non-null     object
 7   Unnamed: 7                               27 non-null     object
 8   Unnamed: 8                               26 non-null     object
 9   Unnamed: 9                               26 non-null     object
dtypes: object(10)
memory usage: 3.3+ KB

In [3]:
df.columns

Index(['Grundskolan – Betyg och Prov – Riksnivå', 'Unnamed: 1', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7',
       'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')