## Working with national test data

In [16]:

import pandas as pd
import matplotlib.pyplot as plt

file_path = 'data/riket2023_åk9_np.xlsx'

xls = pd.ExcelFile(file_path)

print(xls.sheet_names)

df = pd.read_excel(xls, sheet_name='Matematik')

df.columns = ['Plats', 'Huvudman', 'Totalt (A-F)', 'Flickor (A-F)', 'Pojkar (A-F)', 
              'Totalt (A-E)', 'Flickor (A-E)', 'Pojkar (A-E)', 'Totalt (poäng)', 
              'Flickor (poäng)', 'Pojkar (poäng)']

['Engelska', 'Matematik', 'Svenska', 'Svenska som andraspråk', 'Rapportbeskrivning och def.']

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Plats            8 non-null      object
 1   Huvudman         5 non-null      object
 2   Totalt (A-F)     6 non-null      object
 3   Flickor (A-F)    5 non-null      object
 4   Pojkar (A-F)     5 non-null      object
 5   Totalt (A-E)     6 non-null      object
 6   Flickor (A-E)    5 non-null      object
 7   Pojkar (A-E)     5 non-null      object
 8   Totalt (poäng)   6 non-null      object
 9   Flickor (poäng)  5 non-null      object
 10  Pojkar (poäng)   5 non-null      object
dtypes: object(11)
memory usage: 1.2+ KB

In [18]:
df.head()

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Grundskolan - Resultat nationella prov årskurs...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Matematik,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Valt läsår: 2022/23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.describe()

,Plats,Huvudman,Totalt (A-F),Flickor (A-F),Pojkar (A-F),Totalt (A-E),Flickor (A-E),Pojkar (A-E),Totalt (poäng),Flickor (poäng),Pojkar (poäng)
count,8,5,6,5,5,6,5,5,6,5,5
unique,4,5,6,5,5,6,5,5,6,5,5
top,Riket,Typ av huvudman,Antal elever med provbetyg A-F,Flickor,Pojkar,Andel (%) med provbetyg A-E,Flickor,Pojkar,Genomsnittlig betygspoäng,Flickor,Pojkar
freq,5,1,1,1,1,1,1,1,1,1,1

In [20]:
df['Huvudman'].value_counts()

Huvudman
Typ av huvudman    1
Samtliga           1
Kommunal           1
Enskild            1
Skolverket         1
Name: count, dtype: int64

In [21]:
fstudents_girls = df[df['Flickor (A-F)'] == 0].shape[0]
fstudents_boys = df[df['Pojkar (A-F)'] == 0].shape[0]

print(f"Antal flickor som fick F i matematik: {fstudents_girls}")
print(f"Antal pojkar som fick F i matematik: {fstudents_boys}")

Antal flickor som fick F i matematik: 0
Antal pojkar som fick F i matematik: 0