Code alongs - python fundamentals 1

In [1]:
my_fruit = input()

print(f"I like to eat: {my_fruit}")

I like to eat: banan

In [3]:
age = input("give me your age: ")

print(f"In five years you are {age} + 5 age years old")

In five years you are 29 + 5 age years old

In [4]:
# in jupyter notebook the __reps__ of the object instance is outpulled for the last line
age, type(age)

('29', str)

In [5]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [6]:
print(f"{loves_math}")

True

In [7]:
# list of one data type only
intrests = ["badminton", "yoga", "math", "programming"]

# list of mixed data types
person = ["Milou", 29, True]

In [8]:
type(person), type(person[1])

(list, int)

In [9]:
intrests[1:3]

['yoga', 'math']

In [10]:
intrests[-1], intrests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [11]:
person.append(intrests)
person

['Milou', 29, True, ['badminton', 'yoga', 'math', 'programming']]

In [12]:
person[-1][-2][::-1]

'htam'

In [13]:
persons_intrests = person[-1]
persons_intrests[-2]

'math'

In [17]:
for intrests in persons_intrests:
    print(intrests)
    
# java:
# for (int in i = 0; i < person_intrests.length; i++){
    # System.out.printin(persons_intrests{i})

print("\nDon't do this")
for i in range(len(persons_intrests, {i})):

SyntaxError: incomplete input (716733160.py, line 10)

In [ ]:
### list creation

In [18]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
squeres = [i**2 for i in numbers]
squeres

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
# i % 2 (the condition) is truthy when i is odd, and falsey when i is even
odd_numbers_squered = [i**2 for i in numbers if i % 2]
odd_numbers_squered

[1, 9, 25, 49, 81]

In [9]:
courses = {
    "python": 40,
    "agile": 15, 
    "sql": 30, 
    "data_platforms": 40
    }
courses

{'python': 40, 'agile': 15, 'sql': 30, 'data_platforms': 40}

In [11]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_platforms'])

In [19]:
len(courses.keys{})

SyntaxError: invalid syntax (1100464318.py, line 1)

In [13]:
courses.values()

dict_values([40, 15, 30, 40])

In [15]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_platforms 40

In [ ]:
print(f"{'Course', :<20} Points")
for course, points in courses.items():
    print(f"{course:<20}, {points}")

In [ ]:
# Strings

In [21]:
ml_term = "sUperVised   Learning  "

len(ml_term)

23

In [25]:
# ta bort spaces som är före och efter. split lista på två strängar. "".join gör bort lista. .lower gör små bokstäver
" ".join(ml_term.strip().split()).lower()

'supervised learning'